<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
    <!-- Paradox Footer Left Section -->
    <%- partial('_partial/footer-left') %>

    <!--Copyright-->
    <div id="copyright">
        Copyright&nbsp;©
        <% if(theme.copyright_since) { %>&nbsp;
        <%= theme.copyright_since %>&nbsp;-
        <% } %>
        <script type="text/javascript">var fd = new Date(); document.write("&nbsp;" + fd.getFullYear() + "&nbsp;");</script>
        <%- config.title %>
        <% if(theme.footer_text) { %>
        <br>
        <% if(Array.isArray(theme.footer_text)) { %>
        <%- theme.footer_text.join('<br>') %>
        <% } else { %>
        <%- theme.footer_text %>
        <% } %>
        <% } %>
    </div>

    <!-- Paradox Footer Right Section -->

    <!--
        I am glad you use this theme, the development is no so easy, I hope you can keep the copyright.
        It will not impact the appearance and can give developers a lot of support :)

        很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
        它不会影响美观并可以给开发者很大的支持。 :)
        -->

    <div class="mdl-mini-footer--right-section">
        <div>
            <div class="footer-develop-div">Powered by <a class="theme-link" href="http://hexo.io" rel="external nofollow">Hexo</a></div>
            <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank"
                    class="footer-develop-a" rel="external nofollow">Material</a></div>
        </div>
    </div>
    <% } %>
</footer>